@import "../../assets/styles/variables";
@import "../../assets/styles/mixins";

.project-pop__form {
  padding: 20px;
  background-color: $background-color;
  font-family: $font-family;
  color: $text-color;
  border-radius: 10px;
  @include box-shadow($box-shadow);
  width: 450px;
  max-width: 90%;
  max-height: 90%;
  @include sakura-border;

  &:hover {
    @include box-shadow($box-shadow);
  }
}

.project-pop__actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  gap: 20px;
}

.project-pop__button {
  @include base-button;
  margin-left: 10px;

  &--submit {
    color: $pulse-white;
    background-color: $primary-color;

    &:hover {
      background-color: darken($primary-color, 10%);
    }
  }

  &:not(&--submit) {
    background-color: $secondary-light-color;
    color: $text-muted;

    &:hover {
      background-color: darken($secondary-light-color, 10%);
    }
  }
}
