@import "../../assets/styles/variables";
@import "../../assets/styles/mixins";

@media (max-width: 768px) {
  .loginContainer,
  .registerContainer {
    width: 35vh;
  }
}

@media (max-height: 450px) {
  .loginContainer,
  .registerContainer {
    width: 90vh;
  }
}

.loginContainer,
.registerContainer {
  max-width: 500px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 10px;
  @include box-shadow($box-shadow);
  font-family: $font-family;
  overflow-y: hidden;
  overflow-x: hidden;
  overscroll-behavior-x: auto;

  &.light {
    @include lightTheme;
  }

  &.dark {
    @include darkTheme;
  }

  h1 {
    font-size: 20px;
    margin-bottom: 0.5rem;
    text-align: center;
    position: relative;
    padding-bottom: 10px;

    &::after {
      content: "";
      display: block;
      width: 50px;
      height: 2px;
      background-color: $primary-color;
      margin: 10px auto 0;
    }
  }

  p {
    text-align: center;
    font-size: 14px;
    margin-bottom: 20px;
  }

  button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: $primary-color;
    color: $pulse-white;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 0.3rem;
    @include transition(background-color, 0.3s ease);

    &:hover {
      background-color: darken($primary-color, 5%);
    }

    &:focus {
      outline: none;
      @include box-shadow(0 0 5px $primary-color);
    }
  }

  form div {
    margin-bottom: 1rem;

    &::after {
      content: "";
      display: block;
      width: 100%;
      height: 1px;
      background-color: $pulse-white;
      margin-top: 0.3rem;
    }
  }
}

.authSocialButtons {
  text-align: center;
  margin-top: 20px;
}

.registerLink,
.loginLink {
  position: relative;
  cursor: pointer;
  font-size: 14px;
  color: $primary-color;

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: $primary-color;
    bottom: -2px;
    left: 0;
    transform: scaleX(0);
    @include transition(transform, 0.3s ease);
  }

  &:hover::before,
  &:hover::after {
    transform: scaleX(1);
  }

  &::before {
    transform-origin: right;
  }

  &::after {
    transform-origin: left;
  }
}

.socialIcons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.8rem 0;
  gap: 3rem;

  a {
    color: $primary-color;
    text-decoration: none;
  }
}

.orText {
  display: inline-block;
  position: relative;
  padding: 0 10px;
  font-size: 16px;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 9999px;
    height: 1px;
    background-color: $border-color;
  }

  &::before {
    right: 100%;
    margin-right: 10px;
  }

  &::after {
    left: 100%;
    margin-left: 10px;
  }
}
