@import "~@Qinastha/pulse_library/src/styles/variables";
@import "~@Qinastha/pulse_library/src/styles/mixins";

.dashboard {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(35vh, 1fr));
  gap: 50px;
  padding: 20px;
  box-sizing: border-box;
  overflow-y: auto;
  overflow-x: hidden;

  .dashboard-item {
    border: 1px solid $sakura-active-border-color;
    border-radius: 8px;
    overflow: hidden;
    @include box-shadow($box-shadow);
    max-width: 50vh;
    max-height: 40vh;

    h2 {
      font-size: 20px;
      margin: 0;
      padding: 20px;
      text-align: center;
    }
  }
}

@media (min-width: 768px) and (max-width: 1180px) {
  .dashboard {
    .dashboard-item {
      max-height: 45vh;
    }
  }
}

@media (max-height: 450px) {
  .dashboard {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(60vh, 1fr));
    grid-template-rows: auto;

    .dashboard-item {
      max-width: 80vh;
      max-height: 80vh;
    }
  }
}
