@import "~@Qinastha/pulse_library/src/styles/variables";
@import "~@Qinastha/pulse_library/src/styles/mixins";

.heading {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;

  h1 {
    font-size: 2rem;
    margin: 0;
    padding-right: 1rem;
    @include gradientText(8s, 45deg);
  }

  .headingRight {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    width: auto;
    flex-grow: 1;

    .theme-switcher {
      background-color: transparent;
      border: none;
      cursor: pointer;
      padding: 1rem 2rem;
      box-sizing: border-box;
      transition:
        all 0.3s ease,
        transform 0.3s ease;

      &:hover {
        background-color: $box-shadow;
        transform: scale(1.05);
      }

      .theme-switcher__dark {
        color: $text-muted;
        margin: auto;
        @include flex-center;
      }

      .theme-switcher__light {
        color: $pulse-white;
        margin: auto;
        @include flex-center;
      }

      .icon {
        font-size: 24px;
        transition: color 0.3s ease;
      }

      span {
        font-size: 1rem;
        transition: color 0.3s ease;
        word-break: auto-phrase;
      }
    }

    .dropdown-container {
      position: relative;
      padding-right: 2rem;
      box-sizing: border-box;

      .settingIcon {
        width: 40px;
        height: 40px;
        @include transition(transform, 0.2s);

        &:hover {
          transform: rotate(20deg);
        }
      }

      .dropdown-menu {
        position: absolute;
        top: 2.5rem;
        right: 0;
        width: 10rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background-color: $pulse-white;
        @include box-shadow($box-shadow);
        @include border-radius(5px);
        z-index: 1;

        a,
        button {
          @include flex-center;
          gap: 5px;
          text-decoration: none;
          color: $text-color;
          padding: 10px 15px;
          @include border-radius(5px);
          @include transition(background-color, 0.3s);

          &:hover {
            background-color: $primary-color;
            color: $pulse-white;
          }
        }
      }
    }

    .logoutButton {
      padding: 10px 20px;
      background-color: $primary-color;
      border: none;
      @include border-radius(5px);
      color: $pulse-white;
      cursor: pointer;
      transition: all 0.5s ease-in-out;

      &:hover {
        background-color: $pastel-light-blue;
        color: $text-muted;
      }
    }
  }
}

.language-switcher {
  box-sizing: border-box;
  padding-right: 1rem;
}

@media (max-width: 768px) {
  .heading {
    flex-direction: column;
    align-items: flex-start;
    box-sizing: border-box;

    h1 {
      margin: 0 auto;
      padding-bottom: 1rem;
    }

    .headingRight {
      flex-direction: row;
      align-items: center;
      justify-content: start;
      flex-wrap: wrap;

      .theme-switcher {
        transition: all 0.5s ease-in-out;
        width: 100%;
        padding-bottom: 1rem;
        box-sizing: border-box;

        span {
          font-size: 1.2rem;
        }
      }

      .dropdown-container,
      .language-switcher,
      .logoutButton {
        flex-basis: 33%;
        align-self: center;
        text-align: center;
      }
    }
  }
}

@media (min-width: 767px) and (max-width: 1200px) {
  .dropdown-menu {
    top: 3.5rem;
  }
}

@media (max-width: 680px) and (max-height: 450px) {
  .heading {
    .headingRight {
      width: 95%;
    }
  }
}
