/* General container styling */
.profileContainer {
  max-width: 500px;
  margin: 3rem auto;
  padding: 10px 20px;
  background-color: #fefefe;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  font-family: "Noto Sans JP", sans-serif;
}

.profileForm {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 15px;
}

.profileContainer h2 {
  font-size: 20px;
  margin-bottom: 0.5rem;
  text-align: center;
  color: #333;
  position: relative;
  padding-bottom: 10px;
}

.profileContainer h2::after {
  content: "";
  display: block;
  width: 10rem;
  height: 2px;
  background-color: #ffb6c1;
  margin: 10px auto 0;
}

.profileContainer label {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 16px;
  color: #333;
}

.profileContainer input,
.profileContainer select {
  width: 100%;
  padding: 10px 0;
  margin-bottom: 0.3rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 12px;
  background-color: #f0f8ff;
}

.submitButton {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #ffb6c1;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 0.5rem;
}

.deleteUserButton {
  background-color: #ff4d4f;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: 15px;
}

.deleteUserButton:hover {
  background-color: #e60000;
}

.deleteUserButton:active {
  background-color: #cc0000;
}

.deleteUserButton:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(255, 77, 79, 0.5);
}

.profileContainer button:hover {
  background-color: #ff9eb0;
}

@media (max-width: 768px) {
  .profileContainer {
    max-width: 90%;
  }
}

.profileContainer input:focus,
.submitButton:focus {
  outline: none;
  box-shadow: 0 0 5px #ffb6c1;
}

.profileContainer input,
.profileContainer select::placeholder {
  color: #aaa;
  font-style: italic;
}

.submitButton::after {
  content: "  ⛩️";
  display: inline-block;
  margin-left: 5px;
}

.profileContainer form div {
  margin-bottom: 0.3rem;
}

.profileContainer form div::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #eee;
  margin-top: 0.3rem;
}
