@import "../../assets/styles/variables";
@import "../../assets/styles/mixins";

.layoutContainer {
  display: grid;
  grid-template-columns: minmax(120px, auto) 1fr;
  max-height: 100%;
  min-height: 100vh;
  font-family: $font-family;
  background-size: cover;

  @keyframes expandWidth {
    from {
      width: 120px;
    }
    to {
      width: 200px;
    }
  }

  @keyframes collapseWidth {
    from {
      width: 200px;
    }
    to {
      width: 120px;
    }
  }

  .navbar {
    @include gradient-bg($secondary-color, $primary-color);
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-right: 1px solid $border-color;
    @include transition(all, 0.2s);
    grid-column: 1;

    &.expanded {
      animation: expandWidth 0.5s forwards;
    }

    &.notExpanded {
      font-size: 0;
      overflow-y: auto;
      animation: collapseWidth 0.5s forwards;

      img {
        width: 2.5rem;
        height: 3rem;
        object-fit: cover;
        padding-left: 0.5rem;
        transition: all 0.4s ease;
      }

      span {
        font-size: 0.8rem;
        color: $text-color;
        transition: all 0.4s ease;
      }

      a {
        justify-content: center;
        gap: 0;
      }

      button {
        font-size: 0.8rem;
        background-color: transparent;
        color: $text-color;
      }
    }
  }

  .outlet {
    box-sizing: border-box;
    width: 100%;
    padding-bottom: 20px;
    grid-column: 10;
  }

  main {
    padding: 20px;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;

    &.dark {
      @include darkTheme;
    }

    &.light {
      @include lightTheme;
    }
  }

  .fixedHeaderContent {
    @include border-radius(10px);
    padding: 30px;
    @include transition(all, 0.4s);

    &.dark {
      @include darkTheme;
      @include box-shadow($box-shadow-light);
    }

    &.light {
      @include lightTheme;
      @include box-shadow($box-shadow);
    }

    &:hover {
      @include box-shadow($primary-box-shadow);
    }
  }
}

@media (max-width: 767px) {
  .layoutContainer {
    display: grid;
    grid-template-columns: 1fr;

    .navbar {
      width: 100%;
      border-right: none;
      box-sizing: border-box;

      &.notExpanded {
        animation: none;
      }

      &.expanded {
        animation: none;
      }
    }

    .fixedHeaderContent {
      padding: 15px;
    }
  }
  main {
    padding: 10px;
    overflow-x: hidden;
    overflow-y: auto;
  }
}

@media (max-height: 450px) {
  .layoutContainer {
    overflow-y: hidden;

    .navbar {
      overflow: hidden;

      &.notExpanded {
        animation: collapseWidth 0.5s forwards;
      }

      &.expanded {
        animation: collapseWidth 0.5s forwards;
        font-size: 0;
        overflow-y: auto;

        img {
          width: 2.5rem;
          height: 3rem;
          object-fit: cover;
          padding-left: 0.5rem;
          transition: all 0.4s ease;
        }

        span {
          font-size: 0.8rem;
          color: $text-color;
          transition: all 0.4s ease;
        }

        a {
          justify-content: center;
          gap: 0;
        }

        button {
          font-size: 0.8rem;
          background-color: transparent;
          color: $text-color;
        }
      }
    }

    .fixedHeaderContent {
      padding: 0.5rem;
    }
  }
}

@media (max-width: 680px) and (max-height: 450px) {
  .layoutContainer {
    .navbar {
      &.expanded {
        animation: none;
      }
    }
  }
}
