@import "../../assets/styles/variables";
@import "../../assets/styles/mixins";

.layoutContainer {
  display: grid;
  grid-template-columns: auto 1fr;
  max-height: 100%;
  min-height: 100vh;
  font-family: $font-family;
  background-size: cover;
  color: $text-color;
  @include responsive-container;
}

@keyframes expandWidth {
  from {
    width: 120px;
  }
  to {
    width: 200px;
  }
}

@keyframes collapseWidth {
  from {
    width: 200px;
  }
  to {
    width: 120px;
  }
}

.navbar {
  @include gradient-bg($secondary-color, $primary-color);
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-right: 1px solid $border-color;
  @include transition(all, 0.4s);

  &.notExpanded {
    width: 120px;
    font-size: 0;
    overflow-y: auto;
    overflow-x: hidden;
    animation: collapseWidth 0.7s forwards;

    img {
      width: 2.5rem;
      height: 3rem;
      object-fit: cover;
      padding-left: 0.5rem;
      transition: all 0.4s ease;
    }

    span {
      font-size: 0.8rem;
      color: $text-color;
      transition: all 0.4s ease;
    }

    a {
      justify-content: center;
    }
  }

  &.expanded {
    animation: expandWidth 0.7s forwards;
  }
}

main {
  padding: 20px;
  background-color: $background-color;
  overflow-y: auto;
}

.coreContent {
  background-color: $pulse-white;
  @include border-radius(10px);
  padding: 30px;
  @include box-shadow($box-shadow);
  @include transition(all, 0.4s);

  &:hover {
    @include box-shadow($primary-box-shadow);
  }
}

.outlet {
  margin: 2rem;
}
