@import "../../assets/styles/variables";
@import "../../assets/styles/mixins";

.layoutContainer {
  display: grid;
  grid-template-columns: auto 1fr;
  height: 100vh;
  font-family: $font-family;
  background-size: cover;
  color: $text-color;

  @include responsive-container;
}

.navbar {
  @include gradient-bg($secondary-color, $primary-color);
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-right: 1px solid $border-color;
  @include transition(all, 0.3s);

  &.notExpanded {
    width: 60px;
    font-size: 0;
    @include transition(width, 0.3s);
  }
}

.navbar a {
  text-decoration: none;
  color: $text-color;
  padding: 10px 15px;
  border-bottom: 0.5px solid black;
  @include border-radius(5px);
  @include transition(background-color, 0.3s);

  &:hover,
  &.active {
    background-color: $primary-color;
    color: #fff;
  }
}

main {
  padding: 20px;
  background-color: $background-color;
  overflow-y: auto;
}

.coreContent {
  background-color: $pulse-white;
  @include border-radius(10px);
  padding: 30px;
  @include box-shadow($box-shadow);
  @include transition(all, 0.3s);

  &:hover {
    @include box-shadow($primary-box-shadow);
  }
}

.outlet {
  margin: 2rem;
}
