@import "./../../../assets/styles/variables";
@import "./../../../assets/styles/mixins";

.miniProfile {
  @include flex-center;
  border-radius: 8px;
  background-color: transparent;
  width: 100%;
}

.miniProfile-image {
  width: 3.8rem;
  height: 4.3rem;
  object-fit: fill;
  margin-right: 10px;
  @include border-radius(10px);
}

.miniProfile-name {
  font-size: 1.3rem;
  font-weight: 600;
}

@media (max-width: 600px) {
  .miniProfile {
    grid-column: 1;
  }

  .miniProfile-image {
    margin-bottom: 8px;
  }

  .miniProfile-name {
    font-size: 1rem;
  }
}
