@import "~@Qinastha/pulse_library/src/styles/variables";
@import "~@Qinastha/pulse_library/src/styles/mixins";

.fallback-loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  font-family: $font-family;
  color: $text-color;
  z-index: 1000;

  .spinner {
    width: 50px;
    height: 50px;
    border: 5px solid rgba(0, 0, 0, 0.1);
    border-top-color: $primary-color;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    @include box-shadow($box-shadow);
  }

  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
}
