@import "../../../assets/styles/variables";
@import "../../../assets/styles/mixins";

.previewTask {
  @include pop-form-div;

  &__header {
    font-family: $font-family-serif;
    color: $pulse-white;
    text-align: center;
    margin-bottom: 20px;
    @include border-radius(5px);
    @include gradient-bg($primary-color, $secondary-light-color);
    padding: 10px;
  }

  &__content {
    padding: 20px;
    border-radius: 8px;
    border: 1px solid $border-color;
    background: $background-color;
    display: flex;
    flex-direction: column;
    gap: 15px;

    .previewTask__field {
      font-family: $font-family;
      font-size: 1rem;
      color: $text-color;

      strong {
        color: $primary-color;
      }

      span {
        margin-left: 5px;
        color: $text-muted;
      }
    }

    .previewTask__list {
      list-style: none;
      padding: 0;
      margin: 0;
      font-size: 0.9rem;

      li {
        background-color: $sakura-border-color;
        border-radius: 5px;
        padding: 5px 10px;
        margin-bottom: 5px;
        box-shadow: $box-shadow;
      }
    }
  }

  &__actions {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    gap: 20px;
  }

  &__button {
    @include pop-form-button;
    @include hover-effect;
  }
}
