@import "~@Qinastha/pulse_library/src/styles/variables";
@import "~@Qinastha/pulse_library/src/styles/mixins";

.project-pop__form {
  @include pop-form-div;
}

.project-pop__actions {
  display: flex;
  position: relative;
  justify-content: flex-end;
  gap: 20px;
}

.project-pop__button {
  @include pop-form-button;

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}
