@import "~@Qinastha/pulse_library/src/styles/variables";
@import "~@Qinastha/pulse_library/src/styles/mixins";

.task-pop-form {
  @include pop-form-div;
}

.task-pop-form__actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  gap: 20px;

  .task-pop-form__button {
    @include pop-form-button;

    &:disabled {
      cursor: not-allowed;
      opacity: 0.5;
    }
  }
}
