.MuiDialog-paper {
  padding: 20px;
  background-color: #fefefe;
  font-family: "Noto Sans JP", sans-serif;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.MuiDialogTitle-root {
  font-size: 24px;
  color: #333;
}

.MuiDialogContentText-root {
  color: #555;
}

.MuiTextField-root {
  margin-bottom: 15px;
}

.MuiInputLabel-root {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: bold;
}

.MuiButton-root {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.MuiButton-root.MuiButton-textPrimary {
  color: #fff;
  background-color: #ffb6c1;
}

.MuiButton-root.MuiButton-textPrimary:hover {
  background-color: #ff9eb0;
}
