@import "../../../assets/styles/variables";
@import "../../../assets/styles/mixins";

.widgetPreview__container {
  @include pop-form-div;
  width: 100vh;
  height: 80vh;
  padding: 5px;

  h2 {
    font-size: 3rem;
    margin: 0;
    padding: 20px;
    text-align: center;

    &::after {
      content: "";
      display: block;
      width: 35vh;
      max-width: 60%;
      height: 2px;
      background-color: $primary-color;
      margin: 10px auto 0;
    }
  }

  h4 {
    font-size: 1.5rem;
    margin: 0;
    padding: 10px;
    text-align: center;
  }

  &--actions {
    display: flex;
    justify-content: flex-end;
    margin-right: 4rem;

    &--button {
      @include base-button;
      background-color: $primary-color;
      color: $pulse-white;

      &:hover {
        background-color: darken($primary-color, 10%);
      }
    }
  }
}

@media (max-width: 768px) {
  .widgetPreview__container {
    max-width: 40vh;

    &--actions {
      margin-right: 2rem;
    }

    h2 {
      font-size: 1.5rem;
    }

    h4 {
      font-size: 1rem;
    }
  }
}

@media (min-width: 768px) and (max-width: 1180px) {
  .widgetPreview__container {
    max-width: 60vh;
    height: calc(90vh + 5%);
    padding: 10px;
  }
}

@media (max-height: 450px) {
  .widgetPreview__container {
    height: calc(85vh + 5%);
    width: 120vh;
    padding: 10px;
    overflow: hidden;

    h2 {
      font-size: 1.3rem;
    }

    h4 {
      font-size: 0.8rem;
    }

    &--actions {
      margin-right: 1rem;
    }
  }
}
