@import "~@Qinastha/pulse_library/src/styles/variables";
@import "~@Qinastha/pulse_library/src/styles/mixins";

body {
  margin: 0;
  width: 100%;
  height: auto;
  overflow-x: hidden;
}

@media (max-width: 768px) {
  .profileContainer {
    max-width: 90%;
  }
}
